.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.subContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.button {
  background-color: white;
  color: rgb(30, 30, 30);
  width: 10%;
  padding: 5px;
  margin: 50px 5px;
  border: none;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
}

.button:hover{
  color: rgb(30, 30, 30);
  text-decoration: none;
}

.error403 {
  width: 40vw;
  position: relative;
  margin-top: -70px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.regresar {
  background-color: rgb(196, 33, 57);
  border: none;
  border-radius: 7px;
  padding: 5px 10px;
  text-align: center;
  position: absolute;
  transform: translateY(125px);
  text-decoration: none;
  color: white;
}

.regresar:hover {
  color: white;
  text-decoration: none;
}