.containerLayout {
  background-image: radial-gradient(
    circle at 50% -20.71%,
    #d5ffaa 0,
    #c0ffb0 10%,
    #aaffb4 20%,
    #94f6b6 30%,
    #7fe8b7 40%,
    #6cd8b4 50%,
    #5cc8b0 60%,
    #50b9ac 70%,
    #48aea8 80%,
    #43a4a5 90%,
    #419ca4 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 30wh;
}

img.logoLayout {
  object-fit: contain;
  width: 100%;
}

@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

img.logoLayout {
  animation-name: moveInFromLeft;
  animation-duration: 5s;
}
